<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Super Sprinter 3000 {{header}}</title>
</head>
<body>
<h1> User Story Manager {{header}}</h1>
    <form action="/story/{{story.id}}" method="POST">
        <label for="story_title">Story Title</label><br>
        <input type=text size=50 name="story_title" id="story_title" value="{{story.title}}"><br>
        <label for="user_story">User Story</label><br>
        <textarea name="user_story" id="user_story" rows=5 cols=50>{{story.user_story}}</textarea><br>
        <label for="acceptance_criteria">Acceptance Criteria</label><br>
        <textarea name="acceptance_criteria" id="acceptance_criteria" rows=5 cols=50>{{story.acceptance_criteria}}</textarea><br>
        <label for="business_value">Business Value</label><br>
        <input type="number" name="business_value" id="business_value" min="100" max="1500" step="100" size="6"
               value="{{story.business_value}}"><br>
        <label for="estimated_time">Estimation (h)</label><br>
        <input type="number" name="estimated_time" id="estimated_time" min="0.5" max="40" step="0.5" size="6"
               value="{{story.estimated_time}}"><br>
        <label for="status">Status</label><br>
          <select name="status" id="status">
              {% for option in statuses %}
              <option> {{ option.status }} </option><br>
              {% endfor %}
          </select><br><br>
        <button type="submit" id="submit_form_button">{{button_label}}</button>
    </form>
</body>
</html>